Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Require tests for API handler changes, Label and review migrations, Label format handler changes

Require tests for API handler changes:
  label:
    add:
    - needs-tests
    - api-change
  comment:
    message: 'This PR modifies API handlers. Please ensure:
  
      - Unit tests cover the new/changed logic
  
      - Integration test updated if endpoint behavior changed
  
      - OpenAPI annotations match the implementation
  
      '

Label and review migrations:
  label:
    add:
    - migration
    - needs-review
  request_reviews:
    teams:
    - backend

Label format handler changes:
  label:
    add:
    - format-handler

fix: foundation fixes for 1.1.0 release gate (#500)
  backend/src/api/handlers/health.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/middleware/metrics.rs
  backend/src/main.rs
  backend/src/services/metrics_service.rs
  backend/src/storage/azure.rs
  backend/src/storage/gcs.rs
  backend/src/storage/mod.rs
  backend/src/storage/s3.rs
Due: Require tests for API handler changes

style: fix formatting
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

fix(ci): smoke E2E loads image from build job instead of building in-runner
  .github/workflows/ci.yml
Due: none

fix: enforce API token repo scope and require auth for write operations
  backend/src/api/middleware/auth.rs
Due: none

test: add unit tests for access control response helpers and repo scope checks
  backend/src/api/middleware/auth.rs
Due: none

fix: set DEMO_MODE in test compose to allow default credentials
  docker-compose.test.yml
Due: none

fix: enforce API token repo scope and require auth for format write operations (#511)
  backend/src/api/handlers/repositories.rs
  backend/src/api/middleware/auth.rs
  backend/src/services/artifact_service.rs
Due: Require tests for API handler changes

test: add unit tests for checksum calculation and verification coverage
  backend/src/services/artifact_service.rs
Due: none

fix: add credentials to setup container in test compose
  docker-compose.test.yml
  scripts/native-tests/test-cargo.sh
  scripts/native-tests/test-npm.sh
Due: none

fix: parse name/version from generic artifact paths for packages aggregation
  backend/src/api/handlers/packages.rs
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

fix: accept Basic auth on npm publish endpoint
  backend/src/api/middleware/auth.rs
Due: none

fix: parse name/version from generic artifact paths for packages aggregation (#520)
  backend/src/api/handlers/packages.rs
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

fix: accept Basic auth on npm publish endpoint (#521)
  backend/src/api/middleware/auth.rs
Due: none

feat: add Windows Service support and platform-aware defaults
  Cargo.lock
  backend/Cargo.toml
  backend/src/config.rs
  backend/src/main.rs
  backend/src/windows_service.rs
Due: none

chore: add Windows x86_64-pc-windows-msvc target to release pipeline
  .github/workflows/release.yml
Due: none

chore: add rolling Windows dev build on push to main
  .github/workflows/ci.yml
Due: none

fix: add upstream proxy fallback to Go list_versions, version_info, and latest_version
  backend/src/api/handlers/goproxy.rs
Due: Require tests for API handler changes

fix: enable fail-on-err for S3 storage to surface error details (#361)
  Cargo.toml
  backend/src/storage/s3.rs
  docker-compose.s3-maven-test.yml
  scripts/s3-maven-test/run-test.sh
Due: none

fix(security): block OCI v2 token endpoint when user has TOTP 2FA (#536)
  backend/src/api/handlers/oci_v2.rs
Due: Require tests for API handler changes

fix(security): validate JWT_SECRET strength at startup in production (#537)
  backend/src/config.rs
Due: none

fix(security): add .dockerignore to exclude secrets from Docker context (#538)
  .dockerignore
Due: none

fix: treat skipped smoke-e2e as passing in CI Complete (#533)
  .github/workflows/ci.yml
Due: none

fix: suppress SonarCloud false positives on test DB strings and placeholder rejection list
  backend/src/config.rs
  backend/src/services/saml_service.rs
Due: none

fix: keep scripts/openscap-wrapper.py in Docker context
  .dockerignore
Due: none

fix: document per-instance rate limiter and add periodic cleanup (#541)
  backend/src/api/middleware/rate_limit.rs
  backend/src/api/routes.rs
Due: none

fix(ci): pin all GitHub Actions to SHA digests
  .github/workflows/ami-build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e.yml
  .github/workflows/mesh-e2e.yml
  .github/workflows/mirror-images.yml
  .github/workflows/release.yml
  .github/workflows/scheduled-container-scan.yml
  .github/workflows/scheduled-tests.yml
  .github/workflows/sonarcloud-gate.yml
  .github/workflows/stale.yml
  .github/workflows/sync-openapi-spec.yml
Due: none

fix(ci): make cargo audit blocking in CI pipeline
  .cargo/audit.toml
  .github/workflows/ci.yml
Due: none

fix(deps): update vulnerable dependencies (aws-lc-sys, rustls-webpki)
  Cargo.lock
Due: none

fix: return 403 instead of 401 for admin-only endpoints (#556)
  backend/src/api/handlers/peers.rs
  backend/src/api/handlers/service_accounts.rs
  backend/src/api/handlers/sso_admin.rs
  backend/src/api/middleware/auth.rs
Due: Require tests for API handler changes

fix: eliminate N+1 queries in CurationService::re_evaluate_pending (#555)
  backend/src/services/curation_service.rs
Due: none

fix: reuse existing PgPool for gRPC server instead of creating a second one (#554)
  backend/src/main.rs
Due: none

fix: redact sensitive query parameters in TraceLayer logs (#544)
  backend/src/main.rs
Due: none

fix: remove DATABASE_URL from Dockerfile ENV entirely
  docker/Dockerfile.backend
  docker/Dockerfile.backend.alpine
Due: none

fix: use non-credential placeholder for DATABASE_URL in Dockerfile
  docker/Dockerfile.backend
  docker/Dockerfile.backend.alpine
Due: none

fix: trim trailing slashes from proxy cache keys (#565)
  backend/src/services/proxy_service.rs
Due: none

fix: proxy checksum files from upstream for Maven remote repos (#566)
  backend/src/api/handlers/maven.rs
Due: Require tests for API handler changes

feat: implement Maven ComparableVersion ordering algorithm
  backend/src/formats/maven_version.rs
  backend/src/formats/mod.rs
Due: Label format handler changes

fix: use Maven ComparableVersion ordering for metadata generation
  .sqlx/query-0fb4a633029ee39a66bd284afd0274fed55c4343bbe2f7c324b99ed155d1388b.json
  .sqlx/query-5800ffbe73ed75f849c90643ca273ce3babb1e717f4bb4836bdd77b2322422bd.json
  .sqlx/query-924d8de36dd2374e31e28a3de313ade270f8b159cbbe0f4e3c13439878bd4e22.json
  .sqlx/query-970ef875f87556585755ab81eca4bce9b307603c3276b0ee78262a8891d74718.json
  .sqlx/query-d61561eaaf57298c65125bc47ae4765c075064441929e2196c8c2df6b188da89.json
  .sqlx/query-ee256392954fcc9222ff5269a1010dda4e594079b5f2d2d66bd659743f2c0add.json
  .sqlx/query-f79e9a51ee575df417cb81afe30a69df1f6a27ec6013702faf56e5f993599d3d.json
  backend/src/api/handlers/maven.rs
Due: Require tests for API handler changes

Path conditions:
  Require tests for API handler changes: any of: ^backend/src/api/handlers/
  Label and review migrations: any of: ^backend/migrations/
  Label format handler changes: any of: ^backend/src/formats/
