Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Require tests for API handler changes, Label and review migrations, Label format handler changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "title~=^Bump .* from .* to .*"
      - "-title~=major"
      - check-success=lint-rust
      - check-success=test-backend-unit
      - check-success=ci-complete
      - "check-success=SonarCloud Code Analysis"
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update
      comment:
        message: |
          Major version bump detected. Manual review recommended before merging.

  - name: Require tests for API handler changes
    conditions:
      - "files~=^backend/src/api/handlers/"
      - -draft
    actions:
      label:
        add:
          - needs-tests
          - api-change
      comment:
        message: |
          This PR modifies API handlers. Please ensure:
          - Unit tests cover the new/changed logic
          - Integration test updated if endpoint behavior changed
          - OpenAPI annotations match the implementation

  - name: Label and review migrations
    conditions:
      - "files~=^backend/migrations/"
    actions:
      label:
        add:
          - migration
          - needs-review
      request_reviews:
        teams:
          - backend

  - name: Label format handler changes
    conditions:
      - "files~=^backend/src/formats/"
    actions:
      label:
        add:
          - format-handler

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

docs: document why cargo index skips shared virtual metadata helper
  backend/src/api/handlers/cargo.rs
Due: Require tests for API handler changes

feat: add virtual metadata support to rubygems endpoints
  backend/src/api/handlers/rubygems.rs
Due: Require tests for API handler changes

feat: shared virtual metadata resolution helpers (#399)
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/rubygems.rs
  docs/plans/2026-03-06-virtual-metadata-resolution-design.md
Due: Require tests for API handler changes

fix: kill gpg-agent before cleanup to prevent E2E PKI container exit(1)
  scripts/pki/generate-gpg.sh
Due: none

feat: retry failed sync tasks when peer recovers (#191)
  backend/migrations/070_sync_task_retry.sql
  backend/src/services/sync_worker.rs
Due: Label and review migrations

fix: kill gpg-agent before cleanup to prevent E2E PKI container exit(1) (#400)
  scripts/pki/generate-gpg.sh
Due: none

feat: schedule automatic stale peer detection (#190)
  backend/src/services/sync_worker.rs
Due: none

style: fix formatting in run_stale_peer_detection
  backend/src/services/sync_worker.rs
Due: none

test: add unit tests for is_task_retriable and extract pure helper
  backend/src/services/sync_worker.rs
Due: none

test: add stale_check_period_secs helper and more coverage
  backend/src/services/sync_worker.rs
Due: none

refactor: extract RetryDecision methods and format_retry_log for coverage
  backend/src/services/sync_worker.rs
Due: none

Bump trivy CI scanner from 0.69.1 to 0.69.3
  .github/workflows/docker-publish.yml
  .github/workflows/scheduled-container-scan.yml
Due: none

docs: add package curation design for all supported formats
  docs/plans/2026-03-07-package-curation-design.md
Due: none

feat: add CurationRule and CurationPackage models
  .sqlx/query-032ae57acb0d1a03b3f0aec2c686dd4bf108fe25f5d0b7999c1d6ae4583be5dc.json
  .sqlx/query-2f314785e69194d991db213561c544e9ff4b3a1ee4c4594cf238e061f57d6d4d.json
  .sqlx/query-4121d413ad9fbc2ff14b9e075afcbef42f57f17956a87bacd2564648a9937b10.json
  .sqlx/query-69c96cd8cf060401f6642ab17bc547c2d7578d91eb3761440cdd899f907fa896.json
  .sqlx/query-706be55d5d7f06757e40edef411a42885162f7f11930a87c826867477dac604c.json
  .sqlx/query-7154307e9c29848ba7d2945f54520ed19748a37dbfee8e23a54201147940e018.json
  .sqlx/query-f9399deb6620a262b99ccae7e053b331e0da32de4eabbb7b80c4f79e5dfe3ddb.json
  backend/src/api/handlers/approval.rs
  backend/src/api/handlers/promotion.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/repositories.rs
  backend/src/models/curation.rs
  backend/src/models/mod.rs
  backend/src/models/repository.rs
  backend/src/services/repository_service.rs
Due: Require tests for API handler changes

feat: add CurationService with glob matching and version constraint evaluation
  backend/src/services/curation_service.rs
  backend/src/services/mod.rs
Due: none

feat: add background curation sync job for RPM and DEB upstream metadata
  backend/src/services/scheduler_service.rs
Due: none

fix: resolve clippy warnings (too_many_arguments, char comparison)
  backend/src/services/curation_service.rs
Due: none

feat: add GET /api/v1/tree/content endpoint for inline artifact viewing
  backend/src/api/handlers/tree.rs
Due: Require tests for API handler changes

test: add nginx.conf for curation E2E fixture server
  scripts/native-tests/fixtures/curation/nginx.conf
Due: none

test: add Docker Compose services and profile handling for curation E2E tests
  docker-compose.test.yml
  scripts/native-tests/run-all.sh
  scripts/run-e2e-tests.sh
Due: none

style: fix rustfmt line length on WWW-Authenticate header
  backend/src/api/middleware/auth.rs
Due: none

fix: improve S3 backend status code handling and fallback error propagation
  backend/src/storage/s3.rs
Due: none

Update sponsor links to GitHub Sponsors
  .github/FUNDING.yml
  README.md
Due: none

fix: add no_proxy to backend service for internal container traffic
  .env.example
  docker-compose.local-dev.yml
  docker-compose.yml
Due: none

fix: group Maven deploy artifacts by GAV coordinates (#415)
  backend/src/api/handlers/maven.rs
Due: Require tests for API handler changes

fix: add no_proxy to backend service for internal container traffic (#413)
  .env.example
  docker-compose.local-dev.yml
  docker-compose.yml
Due: none

fix: resolve Maven SNAPSHOT checksum requests to timestamped versions (#417)
  backend/src/api/handlers/maven.rs
Due: Require tests for API handler changes

fix: improve S3 backend status code handling and fallback error propagation (#410)
  backend/src/storage/s3.rs
Due: none

refactor: merge two cargo index tests into a single parameterised test
  backend/src/api/handlers/cargo.rs
Due: Require tests for API handler changes

fix: serve Maven secondary GAV files and resolve SNAPSHOT downloads
  backend/src/api/handlers/maven.rs
Due: Require tests for API handler changes

Add design spec for per-repository storage backend selection
  docs/superpowers/specs/2026-03-13-per-repo-storage-backend-design.md
Due: none

Add implementation plan for per-repo storage backend selection
  docs/superpowers/plans/2026-03-13-per-repo-storage-backend.md
Due: none

Update per-repo storage spec with security and architecture review findings
  docs/superpowers/specs/2026-03-13-per-repo-storage-backend-design.md
Due: none

refactor: reduce duplication in per-repo storage handler patterns
  backend/src/api/handlers/maven.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/mod.rs
Due: Require tests for API handler changes

refactor: extract shared RepoInfo to proxy_helpers to reduce duplication
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/ansible.rs
  backend/src/api/handlers/chef.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/gitlfs.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/huggingface.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/jetbrains.rs
  backend/src/api/handlers/maven.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pub_registry.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/sbt.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/handlers/vscode.rs
Due: Require tests for API handler changes

fix: sanitize storage error response, add integration tests
  backend/src/api/mod.rs
  backend/tests/storage_backend_tests.rs
Due: none

fix: paginated Meilisearch reindex to avoid loading all rows into memory
  backend/src/api/handlers/admin.rs
  backend/src/api/handlers/search.rs
  backend/src/main.rs
  backend/src/services/meili_service.rs
  backend/tests/meili_reindex_tests.rs
Due: Require tests for API handler changes

fix: move bcrypt to spawn_blocking and make rate limits configurable
  backend/src/api/handlers/users.rs
  backend/src/api/handlers/webhooks.rs
  backend/src/api/middleware/rate_limit.rs
  backend/src/api/routes.rs
  backend/src/main.rs
  backend/src/services/auth_service.rs
Due: Require tests for API handler changes

fix: move bcrypt to spawn_blocking and make rate limits configurable (#436)
  backend/src/api/handlers/users.rs
  backend/src/api/handlers/webhooks.rs
  backend/src/api/middleware/rate_limit.rs
  backend/src/api/routes.rs
  backend/src/main.rs
  backend/src/services/auth_service.rs
Due: Require tests for API handler changes
