Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Require tests for API handler changes, Label and review migrations, Label format handler changes

Require tests for API handler changes:
  label:
    add:
    - needs-tests
    - api-change
  comment:
    message: 'This PR modifies API handlers. Please ensure:
  
      - Unit tests cover the new/changed logic
  
      - Integration test updated if endpoint behavior changed
  
      - OpenAPI annotations match the implementation
  
      '

Label and review migrations:
  label:
    add:
    - migration
    - needs-review
  request_reviews:
    teams:
    - backend

Label format handler changes:
  label:
    add:
    - format-handler

fix: extract repo key from second path segment for format routes (#302)
  backend/src/api/middleware/auth.rs
Due: none

test: add E2E tests for Maven SNAPSHOT re-upload and S3 scanner
  scripts/native-tests/test-maven.sh
  scripts/native-tests/test-s3-redirect.sh
Due: none

chore: add custom CodeQL workflow, disable default setup
  .github/workflows/codeql.yml
Due: none

chore: add custom CodeQL workflow, disable default setup (#305)
  .github/workflows/codeql.yml
Due: none

Add Alpine-based backend Docker image variant (#306)
  .github/workflows/docker-publish.yml
  .github/workflows/scheduled-container-scan.yml
  docker/Dockerfile.backend.alpine
Due: none

fix: address code scanning alerts #16 and #39
  .vex/CVE-2025-68121.vex.json
  scripts/openscap-wrapper.py
Due: none

fix: address code scanning alerts #16 and #39 (#307)
  .vex/CVE-2025-68121.vex.json
  scripts/openscap-wrapper.py
Due: none

fix: add path validation for storage probe and password file paths (#308)
  backend/src/api/handlers/health.rs
  backend/src/api/handlers/users.rs
Due: Require tests for API handler changes

test: add unit tests for ArtifactFilter matching logic
  backend/src/services/sync_policy_service.rs
Due: none

feat: webhook delivery retry with exponential backoff
  backend/migrations/067_webhook_delivery_retry.sql
  backend/src/api/handlers/webhooks.rs
  backend/src/services/scheduler_service.rs
Due: Require tests for API handler changes, Label and review migrations

feat: admin API to trigger full search reindex
  backend/src/api/handlers/search.rs
  backend/src/api/routes.rs
Due: Require tests for API handler changes

feat: emit quota warning when repository usage exceeds 80%
  backend/src/services/artifact_service.rs
  backend/src/services/repository_service.rs
Due: none

style: apply cargo fmt formatting
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/search.rs
  backend/src/api/handlers/webhooks.rs
  backend/src/config.rs
  backend/src/services/artifact_service.rs
  backend/src/services/auth_service.rs
  backend/src/services/lifecycle_service.rs
  backend/src/services/proxy_service.rs
  backend/src/services/sync_worker.rs
Due: Require tests for API handler changes

feat: regex-based replication filters for peer-repo subscriptions
  backend/migrations/069_replication_filter.sql
  backend/src/services/sync_worker.rs
Due: Label and review migrations

fix: add missing cron_schedule field to integration tests, fix clippy lint
  backend/src/services/repository_service.rs
  backend/tests/lifecycle_policy_tests.rs
Due: none

fix: add missing config fields to incus integration test
  backend/tests/incus_upload_tests.rs
Due: none

feat: quality of life improvements (9 features) (#298)
  .env.example
  .sqlx/query-304a4857efa6e9a23982de7dde52b124860901530d3820052e7be00401f59b3c.json
  backend/migrations/066_lifecycle_cron_schedule.sql
  backend/migrations/067_webhook_delivery_retry.sql
  backend/migrations/068_token_revocation.sql
  backend/migrations/069_replication_filter.sql
  backend/src/api/handlers/events.rs
  backend/src/api/handlers/lifecycle.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/search.rs
  backend/src/api/handlers/webhooks.rs
  backend/src/api/routes.rs
  backend/src/config.rs
  backend/src/models/api_token.rs
  backend/src/services/artifact_service.rs
  backend/src/services/auth_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/lifecycle_service.rs
  backend/src/services/oidc_service.rs
  backend/src/services/proxy_service.rs
  backend/src/services/repository_service.rs
  backend/src/services/scheduler_service.rs
  backend/src/services/sync_worker.rs
  backend/src/services/token_service.rs
  backend/tests/incus_upload_tests.rs
  backend/tests/lifecycle_policy_tests.rs
  sonar-project.properties
Due: Require tests for API handler changes, Label and review migrations

fix: use fixed timestamp in flaky cron policy test
  .github/workflows/ci.yml
  backend/src/services/lifecycle_service.rs
Due: none

fix: use X-Forwarded-Proto/Host in OCI v2 auth challenge (#315)
  backend/src/api/handlers/oci_v2.rs
Due: Require tests for API handler changes

fix: use-context after argocd login --core creates kubernetes context
  .github/workflows/mesh-e2e.yml
Due: none

fix: use-context after argocd login --core creates kubernetes context (#331)
  .github/workflows/mesh-e2e.yml
Due: none

feat: add require_auth_basic() helper for format handlers
  backend/src/api/middleware/auth.rs
Due: none

refactor: remove duplicated auth from 25 format handlers
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/ansible.rs
  backend/src/api/handlers/chef.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/gitlfs.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/huggingface.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/jetbrains.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/pub_registry.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/sbt.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/handlers/vscode.rs
Due: Require tests for API handler changes

refactor: update npm, cargo, goproxy, nuget handlers to use middleware auth
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
Due: Require tests for API handler changes

fix(packages): filter private repo packages for unauthenticated users
  backend/src/api/handlers/packages.rs
Due: Require tests for API handler changes

fix(artifacts): check repo visibility on artifact endpoints
  backend/src/api/handlers/artifacts.rs
Due: Require tests for API handler changes

test: add integration tests for private repo visibility
  backend/tests/integration_tests.rs
Due: none

fix: strip index/ prefix from cargo sparse index upstream proxy path
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

style: apply cargo fmt formatting
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/middleware/auth.rs
  backend/tests/integration_tests.rs
Due: Require tests for API handler changes

docs: add unified auth middleware design and implementation plan
  docs/plans/2026-03-02-unified-auth-middleware-design.md
  docs/plans/2026-03-02-unified-auth-middleware.md
Due: none

refactor: extract AuthExtension::from(User), fix clippy warning, clean up orphaned test headers
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/middleware/auth.rs
Due: Require tests for API handler changes

fix: add root-level cargo sparse index routes for standard client compatibility
  backend/src/api/handlers/cargo.rs
Due: Require tests for API handler changes

refactor: deduplicate conda repodata handlers, packages table check, revert nuget
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/packages.rs
Due: Require tests for API handler changes

fix: add soft-delete cleanup to remaining upload paths
  backend/src/api/handlers/approval.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/promotion.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
Due: Require tests for API handler changes

fix: add GCS backend to storage health check
  backend/src/api/handlers/events.rs
  backend/src/api/handlers/health.rs
  backend/src/config.rs
  backend/src/services/auth_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/oidc_service.rs
  backend/src/services/storage_service.rs
Due: Require tests for API handler changes

fix: batch index_upstream_url queries and extract upsert helper
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

refactor: simplify index path helpers and improve error logging
  backend/src/api/handlers/cargo.rs
Due: Require tests for API handler changes

fix: CI pipeline reliability for SonarCloud and Docker Compose
  .github/workflows/ci.yml
Due: none

fix: install rustls CryptoProvider to prevent S3 IRSA panic
  Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
Due: none

Path conditions:
  Require tests for API handler changes: any of: ^backend/src/api/handlers/
  Label and review migrations: any of: ^backend/migrations/
  Label format handler changes: any of: ^backend/src/formats/
