Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Require tests for API handler changes, Label and review migrations, Label format handler changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "title~=^Bump .* from .* to .*"
      - "-title~=major"
      - check-success=lint-rust
      - check-success=test-backend-unit
      - check-success=ci-complete
      - "check-success=SonarCloud Code Analysis"
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update
      comment:
        message: |
          Major version bump detected. Manual review recommended before merging.

  - name: Require tests for API handler changes
    conditions:
      - "files~=^backend/src/api/handlers/"
      - -draft
    actions:
      label:
        add:
          - needs-tests
          - api-change
      comment:
        message: |
          This PR modifies API handlers. Please ensure:
          - Unit tests cover the new/changed logic
          - Integration test updated if endpoint behavior changed
          - OpenAPI annotations match the implementation

  - name: Label and review migrations
    conditions:
      - "files~=^backend/migrations/"
    actions:
      label:
        add:
          - migration
          - needs-review
      request_reviews:
        teams:
          - backend

  - name: Label format handler changes
    conditions:
      - "files~=^backend/src/formats/"
    actions:
      label:
        add:
          - format-handler

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

feat: merge maven-metadata.xml across virtual repo members
  backend/src/api/handlers/maven.rs
  backend/src/formats/maven.rs
Due: Require tests for API handler changes, Label format handler changes

style: fix rustfmt formatting in maven handler and version module
  backend/src/api/handlers/maven.rs
  backend/src/formats/maven_version.rs
Due: Require tests for API handler changes, Label format handler changes

docs: implementation plan for migrating S3 backend to object_store
  docs/superpowers/plans/2026-03-24-migrate-s3-to-object-store.md
Due: none

chore: swap rust-s3 dependency for object_store 0.13
  Cargo.lock
  Cargo.toml
  backend/Cargo.toml
Due: none

refactor: rewrite S3Config and S3Backend constructor for object_store
  backend/src/storage/s3.rs
Due: none

docs: add S3_CA_CERT_PATH and S3_INSECURE_TLS to .env.example
  .env.example
Due: none

refactor: simplify S3 backend after object_store migration
  backend/src/main.rs
  backend/src/storage/s3.rs
Due: none

test: extract free functions and boost S3 test coverage to >70%
  backend/src/storage/s3.rs
Due: none

test: add 12 S3 integration tests against real AWS
  backend/tests/s3_integration.rs
Due: none

fix: add metrics_port to Config literals in all-targets build
  backend/tests/incus_upload_tests.rs
Due: none

docs: update clippy command to match CI (--all-targets -D warnings)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

feat: add upload_sessions and upload_chunks migration for chunked uploads
  backend/migrations/072_upload_sessions.sql
Due: Label and review migrations

fix: resolve clippy assertions_on_constants and unnecessary_cast in upload tests
  backend/src/services/upload_service.rs
Due: none

docs: update clippy command to match CI (--all-targets -D warnings) (#572)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix: resolve clippy lints in upload test modules and tighten Docker Hub detection
  backend/src/api/handlers/upload.rs
  backend/src/services/upload_service.rs
  backend/src/storage/filesystem.rs
  backend/src/storage/mod.rs
Due: Require tests for API handler changes

fix: align SSO callback redirect with frontend route (#583)
  backend/src/api/handlers/sso.rs
Due: Require tests for API handler changes

fix: critical audit findings — OIDC signature verification, SSRF protection, N+1 query, stub guards
  .github/workflows/ami-build.yml
  README.md
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/sso.rs
  backend/src/cli/migrate_runner.rs
  backend/src/grpc/sbom_server.rs
  backend/src/services/artifact_service.rs
  backend/src/services/repository_service.rs
Due: Require tests for API handler changes

fix: resolve formatting, dead code, and type annotation issues
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/sso.rs
  backend/src/cli/migrate_runner.rs
  backend/src/services/artifact_service.rs
Due: Require tests for API handler changes

test: add OIDC token validation and JWKS key selection tests for coverage
  backend/src/api/handlers/sso.rs
Due: Require tests for API handler changes

fix: add batch stats tests, SSRF integration tests, empty-array guard
  backend/src/services/artifact_service.rs
  backend/src/services/repository_service.rs
Due: none

perf(ci): optimize backend pipeline for ~60% faster PR checks
  .github/workflows/ci.yml
Due: none

fix: accept API tokens as password in Docker /v2/token endpoint (#593)
  backend/src/api/handlers/oci_v2.rs
Due: Require tests for API handler changes

fix: exclude revoked tokens from service account token listing (#592) (#598)
  backend/src/services/token_service.rs
Due: none

fix: check proxy cache before upstream metadata fetch for PyPI remotes (#603)
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

fix: delegate PyPI virtual repo downloads to format-specific fetch logic (#602)
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes

refactor: address code review findings for PyPI cache optimization
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

test: add unit tests for PyPI cache helpers and proxy error mapping
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

fix(oidc): preserve is_admin when admin_group is not configured
  backend/src/services/oidc_service.rs
Due: none

fix: check proxy cache before upstream metadata fetch for PyPI remotes (#605)
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

feat: add register_proxied_artifact for scan_on_proxy support
  backend/src/api/handlers/proxy_helpers.rs
Due: Require tests for API handler changes

feat(npm,cargo,go,pypi): register proxied artifacts for scan_on_proxy
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes

feat: add partial unique index for proxy artifact upsert
  backend/migrations/073_proxy_artifact_upsert_index.sql
Due: Label and review migrations

fix: selectively enable ECS/EKS credential chain without from_env() (#613)
  backend/src/storage/s3.rs
Due: none

fix: resolve relative URLs in PyPI simple index for non-standard registries (#610)
  Cargo.lock
  Cargo.toml
  backend/Cargo.toml
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes

fix: rewrite relative hrefs in PyPI simple index for Nexus/devpi remotes
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes

fix: address all deferred review findings from agent audit
  Cargo.lock
  backend/Cargo.toml
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/validation.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes

test: add 37 unit tests for chunked upload security fixes
  backend/src/api/handlers/upload.rs
  backend/src/services/upload_service.rs
Due: Require tests for API handler changes

feat: OCI bearer token exchange for Docker Hub and private registries (#612)
  backend/src/api/handlers/pypi.rs
  backend/src/services/proxy_service.rs
Due: Require tests for API handler changes
