Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Require tests for API handler changes, Label and review migrations, Label format handler changes

.mergify.yml:

queue_rules:
  - name: default
    merge_method: squash
    update_method: rebase

pull_request_rules:
  - name: Auto-merge Dependabot patch updates
    conditions:
      - author=dependabot[bot]
      - "title~=^Bump .* from .* to .*"
      - "-title~=major"
      - check-success=lint-rust
      - check-success=test-backend-unit
      - check-success=ci-complete
      - "check-success=SonarCloud Code Analysis"
      - "#approved-reviews-by>=1"
    actions:
      queue:
        name: default

  - name: Flag Dependabot major updates
    conditions:
      - author=dependabot[bot]
      - "title~=major"
    actions:
      label:
        add:
          - needs-review
          - major-update
      comment:
        message: |
          Major version bump detected. Manual review recommended before merging.

  - name: Require tests for API handler changes
    conditions:
      - "files~=^backend/src/api/handlers/"
      - -draft
    actions:
      label:
        add:
          - needs-tests
          - api-change
      comment:
        message: |
          This PR modifies API handlers. Please ensure:
          - Unit tests cover the new/changed logic
          - Integration test updated if endpoint behavior changed
          - OpenAPI annotations match the implementation

  - name: Label and review migrations
    conditions:
      - "files~=^backend/migrations/"
    actions:
      label:
        add:
          - migration
          - needs-review
      request_reviews:
        teams:
          - backend

  - name: Label format handler changes
    conditions:
      - "files~=^backend/src/formats/"
    actions:
      label:
        add:
          - format-handler

  - name: Require test checklist completion
    conditions:
      - "body~=\\[x\\].*[Tt]est"
      - "#approved-reviews-by>=1"
    actions:
      label:
        add:
          - tests-verified

  - name: Clean up merged branches
    conditions:
      - merged
    actions:
      delete_head_branch: {}

fix: auto-evaluate sync policies after create/update/delete/toggle
  CLAUDE.md
  backend/src/api/handlers/sync_policies.rs
Due: Require tests for API handler changes

fix: wire correlation ID middleware and fix Maven SNAPSHOT handling
  backend/src/api/handlers/maven.rs
  backend/src/api/routes.rs
  backend/src/formats/maven.rs
Due: Require tests for API handler changes, Label format handler changes

chore: bump version to 1.1.0-rc.8 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Ensured caddy ignored proxy environment variables
  docker-compose.yml
Due: none

fix: surface S3 response body in put error messages for diagnostics
  backend/src/storage/s3.rs
Due: none

docs: add guide comments throughout docker-compose.yml
  docker-compose.yml
Due: none

style: fix cargo fmt formatting
  backend/src/api/handlers/auth.rs
Due: Require tests for API handler changes

test: extract pure functions and add coverage for upstream auth and virtual members
  backend/src/api/handlers/repositories.rs
  backend/src/services/upstream_auth.rs
Due: Require tests for API handler changes

style: fix rustfmt line length in test
  backend/src/services/auth_config_service.rs
Due: none

refactor: extract assert_credentials_err helper to reduce test duplication
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

refactor: deduplicate credential JSON construction
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

docs: add unreleased changelog entries for work since rc.8
  CHANGELOG.md
Due: none

Fix LDAP auth for Active Directory by using proper search-then-bind
  backend/src/services/ldap_service.rs
Due: none

fix: add diagnostic logging for virtual repo member creation
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

docs: add unreleased changelog entries for work since rc.8 (#464)
  CHANGELOG.md
Due: none

fix: add diagnostic logging for virtual repo member creation (#466)
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

Fix rustfmt and clippy lint failures
  backend/src/services/ldap_service.rs
Due: none

Reduce duplication and increase test coverage for LDAP service
  backend/src/services/ldap_service.rs
Due: none

Extract sync helpers from async LDAP methods for testability
  backend/src/services/ldap_service.rs
Due: none

Fix SonarCloud gate skipping rescan on stale fork PR analyses (#468)
  .github/workflows/sonarcloud-gate.yml
Due: none

Fix SonarCloud gate not rescanning when analysis revision is empty
  .github/workflows/sonarcloud-gate.yml
Due: none

Move LDAP filter sanitization into build_search_filter, fix bind DN escaping
  backend/src/services/ldap_service.rs
Due: none

Add 15s operation timeout to LDAP authenticate to prevent hung connections
  backend/src/services/ldap_service.rs
Due: none

Add LDAP connectivity health check to /health endpoint
  backend/src/api/handlers/health.rs
  backend/src/services/ldap_service.rs
Due: Require tests for API handler changes

Route all HTTP clients through base_client_builder() for proxy support
  backend/src/api/handlers/remote_instances.rs
  backend/src/api/handlers/sso.rs
  backend/src/api/handlers/webhooks.rs
  backend/src/services/http_client.rs
  backend/src/services/ldap_service.rs
  backend/src/services/oidc_service.rs
  backend/src/services/peer_instance_service.rs
  backend/src/services/saml_service.rs
  backend/src/services/scheduler_service.rs
Due: Require tests for API handler changes

Wire scored peer selection into sync worker
  backend/src/services/sync_worker.rs
Due: none

Fix OpenSCAP build: fold python3 update into install step
  docker/Dockerfile.openscap
Due: none

Remove python3 dnf update from OpenSCAP build
  docker/Dockerfile.openscap
Due: none

fix: bump grype to v0.110.0, force zlib/python3 updates for CVE fixes (#473)
  .github/dependabot.yml
  docker/Dockerfile.backend
  docker/Dockerfile.backend.alpine
Due: none

Add pick_best_peer edge case tests to improve coverage
  backend/src/services/sync_worker.rs
Due: none

fix: run dtrack-init as root to write API key to shared volume
  docker-compose.local-dev.yml
  docker-compose.yml
  docker/init-dtrack.sh
Due: none

fix: use POSIX sh in init scripts for Alpine compatibility
  docker/init-pg-ssl.sh
Due: none

fix: wire proxy support into Docker OCI handler and expose upstream_url in API response
  backend/src/api/handlers/oci_v2.rs
  backend/src/api/handlers/repositories.rs
Due: Require tests for API handler changes

feat: add configurable MAX_UPLOAD_SIZE env var for artifact upload body limit
  .env.example
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/ansible.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/chef.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/events.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/health.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/huggingface.rs
  backend/src/api/handlers/jetbrains.rs
  backend/src/api/handlers/maven.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/pub_registry.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/sbt.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/handlers/vscode.rs
  backend/src/api/routes.rs
  backend/src/config.rs
  backend/src/services/auth_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/oidc_service.rs
  backend/src/services/storage_service.rs
Due: Require tests for API handler changes

fix: create /shared in Dockerfile so dtrack-init runs as non-root
  docker-compose.local-dev.yml
  docker-compose.yml
  docker/Dockerfile.backend
  docker/Dockerfile.backend.alpine
Due: none

fix(api): revive soft-deleted artifacts on re-upload
  backend/src/services/artifact_service.rs
Due: none

fix: add max_upload_size_bytes to integration test Config
  backend/tests/incus_upload_tests.rs
Due: none

fix: rewrite external PyPI download URLs to route through proxy cache (#497)
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes

fix: filter revoked tokens from list_user_tokens endpoint
  .sqlx/query-04c18ffc790e321c7af9fbde1ccf2e9742d72e74d29a0056edbae56a4527462d.json
  backend/src/api/handlers/profile.rs
  backend/src/api/handlers/users.rs
Due: Require tests for API handler changes

fix: rewrite all absolute URLs in PyPI simple index, not just external ones
  backend/src/api/handlers/pypi.rs
Due: Require tests for API handler changes
