Repository brandonrc/artifact-keeper: changes, and which Mergify rules are due for each by the changed paths.
All: Label migration PRs, Label API handler changes, Label format handler changes

Label migration PRs:
  label:
    add:
    - migration
    - needs-review

Label API handler changes:
  label:
    add:
    - api-change

Label format handler changes:
  label:
    add:
    - format-handler

feat: add SKIP_ADMIN_PROVISIONING env var for SSO-only deployments
  .env.example
  backend/src/main.rs
Due: none

fix: change size quota eviction from FIFO to LRU ordering
  backend/src/services/lifecycle_service.rs
Due: none

chore: clarify co-author policy in CLAUDE.md
  CLAUDE.md
Due: none

chore: add cargo-llvm-cov code coverage reporting to CI (#229)
  .github/workflows/ci.yml
Due: none

fix: block local login when SSO providers are configured (#223)
  backend/src/api/handlers/auth.rs
Due: Label API handler changes

chore: clarify co-author policy in CLAUDE.md (#228)
  CLAUDE.md
Due: none

test: add integration tests for tag_pattern_keep lifecycle policy
  backend/tests/lifecycle_policy_tests.rs
Due: none

fix: implement tag_pattern_keep lifecycle policy execution (#225)
  backend/src/services/lifecycle_service.rs
  backend/tests/lifecycle_policy_tests.rs
Due: none

docs: document all environment variables in .env.example (#227)
  .env.example
Due: none

Replace static release notes with GitHub auto-generated changelog
  .github/workflows/release.yml
  CLAUDE.md
Due: none

test: add integration and E2E tests for tag-filtered replication
  .github/workflows/e2e.yml
  backend/tests/tag_filtered_replication_tests.rs
  docker-compose.test.yml
  scripts/native-tests/run-all.sh
  scripts/native-tests/test-tag-replication.sh
Due: none

fix: correct peer API payload and curl error handling in tests
  backend/tests/tag_filtered_replication_tests.rs
  scripts/native-tests/test-tag-replication.sh
Due: none

feat: add tag-filtered peer replication (#243)
  .github/workflows/e2e.yml
  backend/migrations/063_artifact_labels.sql
  backend/migrations/064_sync_task_type.sql
  backend/src/api/handlers/artifact_labels.rs
  backend/src/api/handlers/artifacts.rs
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/sync_policies.rs
  backend/src/api/openapi.rs
  backend/src/services/artifact_label_service.rs
  backend/src/services/mod.rs
  backend/src/services/peer_instance_service.rs
  backend/src/services/sync_policy_service.rs
  backend/src/services/sync_worker.rs
  backend/tests/tag_filtered_replication_tests.rs
  docker-compose.test.yml
  scripts/native-tests/run-all.sh
  scripts/native-tests/test-tag-replication.sh
Due: Label migration PRs, Label API handler changes

fix: use configured storage backend instead of hardcoded filesystem (#237, #244, #245)
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/ansible.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/chef.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/gitlfs.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/huggingface.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/jetbrains.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pub_registry.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/sbt.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/handlers/vscode.rs
  backend/src/main.rs
  backend/src/storage/s3.rs
Due: Label API handler changes

Add SonarCloud scanner to CI (#247)
  .github/workflows/ci.yml
  backend/src/api/handlers/alpine.rs
  backend/src/api/handlers/ansible.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/chef.rs
  backend/src/api/handlers/cocoapods.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/conan.rs
  backend/src/api/handlers/conda.rs
  backend/src/api/handlers/cran.rs
  backend/src/api/handlers/debian.rs
  backend/src/api/handlers/gitlfs.rs
  backend/src/api/handlers/goproxy.rs
  backend/src/api/handlers/helm.rs
  backend/src/api/handlers/hex.rs
  backend/src/api/handlers/huggingface.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/jetbrains.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/nuget.rs
  backend/src/api/handlers/protobuf.rs
  backend/src/api/handlers/proxy_helpers.rs
  backend/src/api/handlers/pub_registry.rs
  backend/src/api/handlers/puppet.rs
  backend/src/api/handlers/pypi.rs
  backend/src/api/handlers/repositories.rs
  backend/src/api/handlers/rpm.rs
  backend/src/api/handlers/rubygems.rs
  backend/src/api/handlers/sbt.rs
  backend/src/api/handlers/swift.rs
  backend/src/api/handlers/terraform.rs
  backend/src/api/handlers/vscode.rs
  backend/src/main.rs
  backend/src/storage/s3.rs
Due: Label API handler changes

fix: resolve SonarCloud security hotspots and code smells in Docker/shell files
  backend/src/grpc/sbom_server.rs
  docker/Dockerfile.backend
  docker/Dockerfile.backend.dev
  docker/Dockerfile.redteam
  docker/init-dtrack.sh
  docker/init-pg-ssl.sh
Due: none

refactor: reduce cognitive complexity and code duplication across backend
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/npm.rs
  backend/src/cli/migrate_runner.rs
  backend/src/services/artifactory_import.rs
  backend/src/services/helm_lint_checker.rs
  backend/src/services/incus_scanner.rs
  backend/src/services/lifecycle_service.rs
  backend/src/services/migration_worker.rs
  backend/src/services/promotion_policy_service.rs
  backend/src/services/saml_service.rs
Due: Label API handler changes

fix: resolve CI clippy lint and gate Mergify on SonarCloud quality
  .mergify.yml
  backend/src/services/artifact_label_service.rs
Due: none

chore: improve SonarCloud quality gate scores (#248)
  .mergify.yml
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/npm.rs
  backend/src/cli/migrate_runner.rs
  backend/src/grpc/sbom_server.rs
  backend/src/services/artifact_label_service.rs
  backend/src/services/artifactory_import.rs
  backend/src/services/helm_lint_checker.rs
  backend/src/services/incus_scanner.rs
  backend/src/services/lifecycle_service.rs
  backend/src/services/migration_worker.rs
  backend/src/services/promotion_policy_service.rs
  backend/src/services/saml_service.rs
  backend/src/services/sync_policy_service.rs
  docker/Dockerfile.backend
  docker/Dockerfile.backend.dev
  docker/Dockerfile.redteam
  docker/init-dtrack.sh
  docker/init-pg-ssl.sh
Due: Label API handler changes

fix: bootstrap OIDC config from env vars and respect attribute mappings
  backend/src/api/handlers/sso.rs
  backend/src/main.rs
Due: Label API handler changes

test: add OIDC bootstrap e2e tests with Keycloak
  scripts/sso-e2e/docker-compose.oidc-bootstrap-test.yml
  scripts/sso-e2e/test-oidc-bootstrap.sh
Due: none

test: increase new code coverage from 66.9% toward 80% quality gate
  backend/src/api/handlers/artifact_labels.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/service_accounts.rs
  backend/src/cli/migrate_runner.rs
  backend/src/services/migration_worker.rs
  backend/src/services/repo_selector_service.rs
  backend/src/services/scanner_service.rs
  backend/src/services/service_account_service.rs
Due: Label API handler changes

test: increase new code coverage from 66.9% toward 80% quality gate (#253)
  backend/src/api/handlers/artifact_labels.rs
  backend/src/api/handlers/cargo.rs
  backend/src/api/handlers/composer.rs
  backend/src/api/handlers/incus.rs
  backend/src/api/handlers/npm.rs
  backend/src/api/handlers/service_accounts.rs
  backend/src/cli/migrate_runner.rs
  backend/src/services/migration_worker.rs
  backend/src/services/repo_selector_service.rs
  backend/src/services/scanner_service.rs
  backend/src/services/service_account_service.rs
Due: Label API handler changes

feat: add physical storage garbage collection for soft-deleted artifacts
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/storage_gc.rs
  backend/src/api/openapi.rs
  backend/src/api/routes.rs
  backend/src/services/mod.rs
  backend/src/services/scheduler_service.rs
  backend/src/services/storage_gc_service.rs
  scripts/native-tests/test-storage-gc.sh
Due: Label API handler changes

feat: physical storage garbage collection for soft-deleted artifacts (#233)
  backend/src/api/handlers/mod.rs
  backend/src/api/handlers/storage_gc.rs
  backend/src/api/openapi.rs
  backend/src/api/routes.rs
  backend/src/main.rs
  backend/src/services/mod.rs
  backend/src/services/scheduler_service.rs
  backend/src/services/storage_gc_service.rs
  docker-compose.test.yml
  scripts/native-tests/test-storage-gc.sh
  scripts/run-e2e-tests.sh
Due: Label API handler changes

test: increase new code coverage toward 80% quality gate (#254)
  backend/src/api/handlers/service_accounts.rs
  backend/src/services/scanner_service.rs
  backend/src/services/sync_policy_service.rs
Due: Label API handler changes

fix: upload Trivy SARIF as artifacts, add weekly scan, bump grype (#255)
  .github/workflows/docker-publish.yml
  .github/workflows/scheduled-container-scan.yml
  docker/Dockerfile.backend
Due: none

fix: reduce duplication and add unit tests for quality gate
  backend/src/api/handlers/wasm_proxy.rs
  backend/src/services/plugin_registry.rs
  backend/src/services/wasm_bindings.rs
Due: Label API handler changes

test: add unit tests for wasm_proxy and plugin_registry
  backend/src/api/handlers/wasm_proxy.rs
  backend/src/services/plugin_registry.rs
Due: Label API handler changes

Extract testable helpers and add more unit tests for coverage
  backend/src/api/handlers/wasm_proxy.rs
  backend/src/services/plugin_registry.rs
Due: Label API handler changes

Add router and edge-case tests to push coverage above 80%
  backend/src/api/handlers/wasm_proxy.rs
Due: Label API handler changes

fix: redact sensitive fields in Debug implementations
  backend/src/models/api_token.rs
  backend/src/models/user.rs
  backend/src/services/auth_config_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/saml_service.rs
Due: none

fix: add path validation to OpenSCAP wrapper
  scripts/openscap-wrapper.py
Due: none

fix: sanitize file paths to prevent path injection
  backend/src/api/handlers/health.rs
  backend/src/api/handlers/plugins.rs
  backend/src/api/handlers/users.rs
Due: Label API handler changes

fix: validate project UUID to prevent SSRF in Dependency-Track client
  backend/src/services/dependency_track_service.rs
Due: none

fix: use rand::random() for IV generation instead of zero-init + fill
  backend/src/services/encryption.rs
Due: none

fix: redact sensitive fields in Debug implementations (#260)
  backend/src/models/api_token.rs
  backend/src/models/user.rs
  backend/src/services/auth_config_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/saml_service.rs
Due: none

fix: add explicit permissions to all CI workflows (#259)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/e2e.yml
  .github/workflows/mesh-e2e.yml
  .github/workflows/scheduled-tests.yml
Due: none

refactor: deduplicate Debug impls with redacted_debug macro, add tests
  backend/src/api/handlers/sync_policies.rs
  backend/src/lib.rs
  backend/src/macros.rs
  backend/src/models/api_token.rs
  backend/src/models/user.rs
  backend/src/services/auth_config_service.rs
  backend/src/services/ldap_service.rs
  backend/src/services/saml_service.rs
Due: Label API handler changes

test: add Debug redaction tests for user, LDAP, and SAML models
  backend/src/models/user.rs
  backend/src/services/ldap_service.rs
  backend/src/services/saml_service.rs
Due: none

Path conditions:
  Label migration PRs: any of: ^backend/migrations/
  Label API handler changes: any of: ^backend/src/api/handlers/
  Label format handler changes: any of: ^backend/src/formats/
